html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    background-color:#b9b7b7;
    font-family: Arial, Helvetica, sans-serif;
}
.mainBody {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.board {
    margin: 0;
    padding: 5px;
    margin: auto;
    list-style-type:  none;
    display: grid;
    grid-template-columns: 150px 150px 150px; 
    grid-template-rows: 150px 150px 150px; 
    /*background-color: black;*/
    grid-row: 2 / 3;
    grid-column: 2;
}

.newGame {
    display: grid;
    width: fit-content;
    height: 15px;
    grid-row: 3;
    grid-column: 2;
}

.myButton {
	-moz-box-shadow: 3px 4px 0px 0px #899599;
	-webkit-box-shadow: 3px 4px 0px 0px #899599;
	box-shadow: 3px 4px 0px 0px #899599;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bab1ba));
	background:-moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:17px;
	padding:3px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bab1ba), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-o-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0);
	background-color:#bab1ba;
}
.myButton:active {
	position:relative;
	top:1px;
}

.cell {
    margin: 2px;
    font-size: 100px;
    line-height: 150px;
    text-align: center;
    background-color:#f8f8f8;
}
.cell:hover {
    background-color:  #e4e7e4;
}

.header {
    background-color:#030353;
    display: grid;
    height: 90px;
   
}

.head1 {
    display: grid;
    color: white;
    margin-left: 20px;
}

.head2 {
    display: grid;
    grid-column: 2 / 6;
    grid-row: 3;
    color: white;
}

.footer {
    background-color:#030353;
    color: white;
    text-align: center;
    margin-top: 40px;
}

#names {
    color: white;
    text-align: center;
    font-size: 12px;
    margin-right: 39px;
}

#winnerx {
    display: none;
    color: #b16232;
    font-size: 30px;
}
#winnero {
    display: none;
    color:#b16232;
    font-size: 30px;
}